
.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.field {
    width: 35vw;
    height: 35vw;

    display: flex;
    flex-flow: row wrap;
}

.cell {
    outline: #e5e5e5 1px solid;
    width: 33.33%;
    height: 33.33%;
    background-size: cover;
}

.cell.o-cell {
    background-image: url(./rat.png);
}

.cell.x-cell {
    background-image: url(./rat-angry.png);
}