.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.field {
    width: 35vw;
    height: 35vw;

    overflow: hidden;

    border-radius: 15px;
    border-collapse: collapse;

    box-shadow: 0 15px 30px #00000033;
}

@media (max-width: 1000px) {
    .field {
        width: 80vw;
        height: 80vw;
    }
}

.field tr {
    height: 33.33%;
}

.field tr:last-child .cell {
    border-bottom: none;
}

.field tr .cell:last-child {
    border-right: none;
}

.field tr .cell {
    width: 33.33%
}

.cell {
    text-align: center;
    color: #FFFFFF00;
    
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.cell.clickable-cell {
    transition: all 0.1s ease-out;
    background-color: #FFFFFF00;
}

.cell.clickable-cell:hover {
    color: #FFFFFFFF;
    background-color: #55555533;
    cursor: pointer;
}

.nobody {
    background-size: cover;
    background-image: url(./nobody.jpg);
}

.o-cell {
    background-size: cover;
    background-image: url(./rat.png);
}

.x-cell {
    background-size: cover;
    background-image: url(./rat-angry.png);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 14px 25px;

    color: #fca311;
    text-align: center;

    border-radius: 15px;
    background: #14213dAA;
    box-shadow: 0 15px 30px #00000033;
}

.appear-enter {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.appear-enter-active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    transition: opacity 300ms, transform 300ms;
}

.appear-exit {
    opacity: 1;
}

.appear-exit-active {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);

    transition: opacity 300ms, transform 300ms;
}